* {
    color: gold;
    background-color: darkgrey;
}
h1 {
    color: #dc143c,
}

h2 {
    color: #dc143c,
}

.quotes {
    font-size: 15px;
}

.form {
    font-size: 15px;
}

button {
    font-size: 18px;
}


@media (max-width: 500px) {
    .quotes {
        font-size: 30px;
    }

    .form {
        font-size: 30px;
    }

    button {
        font-size: 30px;
    }
}




/* #editor > * {
    display: none;
} */